//$coreBlue: #53370d;
//$coreBlue: #0d2b53;
//$coreBlue: #040445;
//$coreBlue: #1371BA;
$coreBlue: #0D4A7A;
$workingBlue: rgb(9, 57, 152);
//$textBlue: #0d2b53;
$textBlue: #06243B;
//$navBlue: #0c3380;
//$navBlue: #3274F0;
$navBlue: #1A98FA;
//$bgDark: #5ca3ff;
//$bgDark: #398EF5;
$bgDark: #3d67d4;
//$bgLight: #C7EAFF;
$bgBlue: #C7EAFF;
$bgLight: #e1effa;
$col1: #FD591C;
$col2: #B021E3;
$col3: #29E33C;
$col4: #FFFB65;
$col5: #FDE04C;

//$col1: rgb(27,140,224);
$col1: rgb(167,193,212);
$col2: rgb(53,222,203);
$col3:rgb(235,167,153);
$col4:rgb(171,9,5);